.HeaderDesktop{
    text-align: center;
    background-color: white;
    box-shadow: 0px 0px 2px 1px rgba(145, 145, 145, 0.2);
}
.HeaderPaddingDesktop{
    padding: 5px;
}
.LogoDesktop{
    margin-top: auto;
    margin-bottom: auto;
}
.SearchbarHeaderDesktop{
    width: 100%;
}
.InputSearchbarHeaderDesktop{
    padding-left: 1rem;
    width: 85%;
}
.SearchbarHeaderDesktop:hover{
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.2),
                0px 1px 1px 0px rgba(0,0,0,0.14), 
                0px 1px 3px 0px rgba(0,0,0,0.12);
}
.InputButtonIconDesktop{
    width: 15%;
}
