.HeaderMobile{
    text-align: center;
    background-color: white;
    box-shadow: 0px 0px 1px 1px rgba(145, 145, 145, 0.2);
    height: 60px;
}
.SearchbarHeaderMobile{
    width: 100%;
}
.InputButtonIconHeaderMobile{
    width: 15%;
}
.InputSearchbarHeaderMobile{
    padding-left: 1rem;
    width: 70%;
}
.LogoMobile{
    margin-top: auto;
    margin-bottom: auto;
}
.SearchbarHeaderMobile{
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.3),
                0px 1px 1px 0px rgba(0,0,0,0.14), 
                0px 1px 3px 0px rgba(0,0,0,0.12);
}